<div class="back-container">
    {{!-- <a href="/array" class="icon-link"><i class="bi bi-arrow-left"></i></a> --}}
    <button class="icon-link"><i id="arrow" class="bi bi-arrow-left"></i></button>
</div>