<div class="view">
    <div class="options-container">
    <button class="previous">&#8249;</button>
    <div class="border-box">
        <div class="infinite-carousel">
            <div>
                <button type="button" id="faceRec" class="btn btn-light">face recognition</button>
                <button type="button" id="coolGuy" class="btn btn-light">cool guy</button>
                <button type="button" id="underwater" href="/underwater" class="btn btn-light">underwater</button>
                <button type="button" class="btn btn-light">third</button>
                <button type="button" class="btn btn-light">third</button>
            </div>
        </div>
    </div>
    <button class="next">&#8250;</button>
    </div>
</div>
