<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/face-api.min.js" defer></script>
    <script type="text/javascript" src="/recognition.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/recognition.css" defer>
    <title>Document</title>
</head>
<body>
    {{> _back}}
    {{> _video}}
</body>
</html>